/* adds CSS variables*/
:root {
    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --background-color: #457b9d;
    --white: #F5F5F5;
    --dark-blue: #14213d;
    --disabled-color: #e8e8e4;
    --gray-silver: #C0C0C0;
    --dark-green: #9ACD32;
    
    
    --extra-small: 1.0rem;
    --small: 1.4rem;
    --regular: 1.8rem;
    --big: 2.4rem;
    --extra-big: 3.2rem;

}

/* sets 1.0rem to 10px (relative) */
html {
    font-size: 62.5%;
}

/* sets font size to 16px with REM */
/* border-box set up */
body {
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    
}
/* aligns items vertically */
main {
    display: grid; 
    justify-content: center;
    background-color: var(--background-color);
}

/* container of the calendar */
/* align content using flexbox */
.calendar-container {
    border: 4px solid var(--primary-color);
    border-radius: 12px;
    width: 90vw;
    max-width: 650px;
    background-color: var(--white);
    margin: 24px;
}

/* calendar header */
.calendar-header-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
    border: none;   
}

/* calendar header text container */
.calendar-header-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: var(--big);
    color: var(--white);
    box-sizing: border-box;
    padding: 12px auto;
    border: none;
 
}

/* Month text size and weight */
#current-month-display {
    font-size: var(--extra-big);
    font-weight: bold;
}

/* Header flex */
.calendar-header-container section {
    display: flex;
    justify-content: center;
    align-content: center;
}

/*  */
.calendar-header-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: var(--extra-big);
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}



/* aligns elements of the calendar in 7 cuolumns */
/* adds a gap between all items */
.calendar-days, .days-week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    margin: 0;
    padding: 12px;
    font-size: var(--small);
    text-align: center;
}


/* style for days of the week mobile*/
.days-week-mobile {
    font-size: var(--big);
    font-weight: bold;
    overflow: hidden;
    height: 24px;
    margin-top: 8px;
    color: var(--dark-blue);
}

/* style for days of the week full name*/
.days-week-desktop span {
    font-size: var(--small);
    align-content: center;
    overflow: hidden;
    color: var(--dark-blue);
}

/* styles for days of the month (day ) */
.calendar-days .calendar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    box-sizing: border-box;
    height: 40px;
    border-radius: 8px;
    border: none;
    min-width: 30px;
    max-width: 100px;
    font-family: 'DM Sans', sans-serif;
    font-size: var(--regular);
    background-color: var(--gray-silver);
    font-weight: bold;
    color: var(--dark-blue);
}

/* when mouse hovers day changes color */
.calendar-days .calendar-text:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    color: var(--white);
}

/* after being clicked changes color */
.calendar-days .calendar-text:active {
    background-color: var(--dark-green);
}

/* styling for disabled days */
.calendar-days .calendar-days-disabled {
    color: var(--gray-silver);
    background-color: var(--disabled-color);
}

/* styling for disabled days when hovering*/
.calendar-days .calendar-days-disabled:hover {
    color: var(--gray-silver);
    background-color: var(--disabled-color);
    cursor: default;
}

/* adds a log at the bottom of the screen */
.display {
    background-color: var(--disabled-color);
    padding: 24px;
    border-radius: 12px;
    width: 200px;
    height: auto;
    text-align: left;
    margin: 24px auto;
}