:root {
    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0;
}

.calendar-days {
    border: 1px solid blue;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}

.calendar-days span {
    text-align: center;
}

.calendar-days ol {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    padding: 12px;
    border-radius: 8px;
}


.calendar-days button {
    border-radius: 8px;
    height: 40px;
    border: none;
    min-width: 30px;
    max-width: 100px;
}

.calendar-days button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.calendar-days button:active {
    background-color: lightgreen;
}

.calendar-days #active-day button  {
    background-color: green;
}


.calendar--variable-days {
    background-color: blue;
    
}
    
main ol .calendar--variable-days {
    background-color:  blue;
}

.active-day {
    background-color: green;
}
