.calendar-days ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}



main ol .calendar--variable-days {
    background-color: blue;
}

#calendar--first-day {
    background-color: blue;
}
    


